.loader {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: #fff;

  &__spin {
    width: 70px;
    height: 70px;

    border: 3px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from { transform: rotate3d(0, 0, 1, 0deg); }
  to { transform: rotate3d(0, 0, 1, 360deg); }
}